<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <title>Admin page</title>
</head>
<body>
    <h1>Admin Panel</h1>
    <div class="container">
        <button class="add-btn" onclick="openAddModal()">Yangi Hodim Qo'shish</button>
        <table id="workerTable">
            <thead>
                <tr>
                    <th>Ism Sharif</th>
                    <th>Kelgan sana</th>
                    <th>Kelgan soat</th>
                    <th>Ketgan sana</th>
                    <th>Ketgan soat</th>
                    <th>1 Haftalik</th>
                </tr>
            </thead>
            <tbody>
                <% employee.map(item => { %>
                    <tr>
                        <td data-id="<%-item.id%>" class="js-edit-td"><%-item.fname%> <%-item.lname%></td>
                        <%const dataInAndOut = control.filter(filterItem => item.id == filterItem.emp_id && filterItem.time.split('/')[0] == new Date().toLocaleDateString())%>
                        <%const dateIn = dataInAndOut?.filter(dataInAndOutItem => dataInAndOutItem.direction == 'in')%>
                        <%const dateOut = dataInAndOut?.filter(dataInAndOutItem => dataInAndOutItem.direction == 'out')%>
                        <%if(dateIn[0]){%>
                            <%const dateInSplittedByTime = dateIn[0]?.time.split('/')%>
                            <td><%-dateInSplittedByTime[0]%> <%-dateInSplittedByTime[1]%></td>
                            <td><%-dateInSplittedByTime[2]%></td>
                        <%}else{%>
                            <td><%="-"%></td>
                            <td><%="-"%></td>
                        <%}%>
                        <%if(dateOut.at(-1)){%>
                            <%const dateOutSplittedByTime = dateOut?.at(-1).time.split('/')%>
                            <td><%-dateOutSplittedByTime[0]%> <%-dateOutSplittedByTime[1]%></td>
                            <td><%-dateOutSplittedByTime[2]%></td>
                        <%}else{%>
                            <td><%="-"%></td>
                            <td><%="-"%></td>
                            <%}%>
                            <td>
                                <input type="hidden" name="id" value="<%= item.id %>">
                                <button class="generate-btn open-weekly-modal-btn" data-id="<%=item.id%>">1 haftalik</button>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
        </table>
    </div>

    <!-- Add/Edit Modal -->
    <div id="addModal" class="modal">
        <h3 id="modalTitle">Yangi Hodim Qo'shish</h3>
        <form class="modal-content js-form" autocomplete="off">
            <input name="fname" type="text" id="firstname" placeholder="Ism">
            <input name="lname" type="text" id="lastname" placeholder="Familiya">
            <input name="email" type="email" id="email" placeholder="Email">
            <input name="phone_number" type="number" id="password" placeholder="Phone number">
            <div class="input-group">
                <input name="user_id" type="text" id="generateNum" placeholder="Generate Number" maxlength="4">
                <button type="button" class="generate-btn" onclick="generateNumber()">Generate</button>
            </div>

            <div class="modal-buttons">
                <div class="left-buttons">
                    <button type="button" id="deleteBtn" class="delete-btn" style="display: none;" onclick="openConfirmDelete()">O‘chirish</button>
                </div>
                <div class="right-buttons">
                    <button id="mainActionBtn" class="confirm">Yaratish</button>
                    <button type="button" class="cancel" onclick="closeAddModal()">Bekor qilish</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Confirm Delete Modal -->
    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <h3>O'chirishni xohlaysizmi?</h3>
            <div class="right-buttons" style="justify-content: center; margin-top: 20px;">
                <button class="confirm" onclick="deleteWorker()">Ha</button>
                <button class="cancel" onclick="closeConfirmModal()">Yo'q</button>
            </div>
        </div>
    </div>

    <!-- 1 Haftalik Modal -->
    
    <div id="weeklyModal" class="modal" >
        <div class="modal-content" style="width: 800px;">
            <table style="width: 100%; margin-top: 10px;">
                <thead>
                    <tr>
                        <th>Kelgan sana</th>
                        <th>Kelgan soat</th>
                        <th>status</th>
                        <th>Ketgan sana</th>
                        <th>Ketgan soat</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="weeklyTableBody">
                </tbody>
            </table>
            <!-- <button style="margin-top: 20px;" class="cancel" onclick="closeWeeklyModal()">Yopish</button> -->
        </div>
    </div>
    <script src="/js/admin.js"></script>
</body>
</html>
